{% extends 'list/base.html' %}

{% block content %}
    {% for item in items %}

        <div class="item">
        	{% if item.important %}
        	<span>
        		<i 
        			class="fa fa-exclamation fa-lg fa-fw important" 
        			aria-hidden="true">
        		</i>
        	</span>
        	{% endif %}
            <span class="item__elem item-title">
            	<a href="{% url 'item_detail' pk=item.pk %}">{{ item.title }}</a>
            </span>
            <span class="item__elem">{{ item.getPlace }}</span>
            <span class="item__elem {{ item.isUrgent }}">{{ item.getUntilDate }}</span>
            <span class="item__elem item-right">
            	<i class="fa fa-check fa-fw" aria-hidden="true"></i>
            	<i class="fa fa-times fa-fw" aria-hidden="true"></i>
            </span>
        </div>

    {% endfor %}
{% endblock %}