* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
.header {
    background: url("../images/menu_background.jpg") no-repeat;
    height: 20vw;
    color: white;
    position: relative;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
}

.header h1 {
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.list {
}
.item {
    background-color: #F7F7F7;
    height: 50px;
    margin: 20px;
    padding: 20px;
}
.item-title {
    font-size: 1.5em;
}
.item-title a {
    text-decoration: none;
    color: black;
}
.important {
    color: red;
}
.item__elem {
    line-height: 50px;
    vertical-align: middle;
    color: gray;
}
.item-right {
    float: right;
}
.item-right i {
    font-size: 20px;
    padding: 15px 0;
}
.item-details {
    background-color: #F7F7F7;
    padding: 20px;
    margin: 20px;
}